Creamos este libro de Python para trabajar en la funcion 5

def sentiment_analysis( año : int ): Según el año de lanzamiento, se devuelve una lista con la cantidad de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento.
Ejemplo de retorno: {Negative = 182, Neutral = 120, Positive = 278}

In [42]:
# Importamos libreria
import pandas as pd

In [43]:
# Trabajamos con el df de games_final y reviews_final
df_games = pd.read_csv('./Archivos_csv/games_final.csv')
df_sentiment = pd.read_csv('./Archivos_csv/reviews_final.csv')

In [44]:
# Vemos si trae bien cada df
df_games.head()

,genres,app_name,title,early_access,id,year
0,Action,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,2018
1,Casual,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,2018
2,Indie,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,2018
3,Simulation,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,2018
4,Strategy,Lost Summoner Kitty,Lost Summoner Kitty,False,761140,2018

In [45]:
df_sentiment.head()

,user_id,item_id,recommend,review,sentiment_analysis,year
0,76561197970982479,1250.0,True,Simple yet with great replayability. In my opi...,2,2011
1,js41637,22200.0,True,It's unique and worth a playthrough.,2,2011
2,evcentric,43110.0,True,Great atmosphere. The gunplay can be a bit chu...,2,2011
3,doctr,251610.0,True,I know what you think when you see this title ...,2,2014
4,maplemage,227300.0,True,For a simple (it's actually not all that simpl...,2,2013

In [46]:
# Hacemos un merge de los data frame por medio de id y de item_id
data_sentiment = df_games.merge(df_sentiment, left_on="id", right_on="item_id", how="inner")

In [47]:
# Vemos como queda el DF
data_sentiment.head()

,genres,app_name,title,early_access,id,year_x,user_id,item_id,recommend,review,sentiment_analysis,year_y
0,Action,Half-Life,Half-Life,False,70,1998,AppoGetsSuperAdmin,70.0,True,ADVERTENCIA:Este Análisis contiene posibles Sp...,2,2015
1,Action,Half-Life,Half-Life,False,70,1998,76561198051084367,70.0,True,If you own any half life but not this one that...,0,2011
2,Action,Half-Life,Half-Life,False,70,1998,DropBear99,70.0,True,this game has had me hooked for over 4 years a...,2,2014
3,Action,Half-Life,Half-Life,False,70,1998,hecaton_john,70.0,True,"This is, by far my most favourite game I have ...",2,2013
4,Action,Half-Life,Half-Life,False,70,1998,Mister_Mad,70.0,True,Wow. This game was incredible. Half-Life is a ...,2,2013

In [48]:
data_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41722 entries, 0 to 41721
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   genres              41722 non-null  object
 1   app_name            41722 non-null  object
 2   title               41722 non-null  object
 3   early_access        41722 non-null  bool
 4   id                  41722 non-null  int64
 5   year_x              41722 non-null  object
 6   user_id             41722 non-null  object
 7   item_id             41722 non-null  float64
 8   recommend           41722 non-null  bool
 9   review              41722 non-null  object
 10  sentiment_analysis  41722 non-null  int64
 11  year_y              41722 non-null  int64
dtypes: bool(2), float64(1), int64(3), object(6)
memory usage: 3.3+ MB

In [49]:
# Eliminamos las columnas que no vamos a utilizar, nos quedamos con la columna de year_x que es la de año de relanzamiento

data_sentiment = data_sentiment.drop(columns=['genres', 'app_name', 'early_access', 'id', 'item_id', 'review', 'year_y'])

In [50]:
data_sentiment.head()

       title year_x             user_id  recommend  sentiment_analysis
0  Half-Life   1998  AppoGetsSuperAdmin       True                   2
1  Half-Life   1998   76561198051084367       True                   0
2  Half-Life   1998          DropBear99       True                   2
3  Half-Life   1998        hecaton_john       True                   2
4  Half-Life   1998          Mister_Mad       True                   2

In [51]:
# Elegimos nuevamente los anios con los que  vamos a trabajar, decimios elegir los mismos anios que en la funcion de playTimeGenre y userForGenre
anios = ['2015', '2014', '2013', '2012', '2016', '2011', '2017', '2010', '2009', '2006', '2008', '2007', '2004', '2003', '2005']

In [52]:
# Nos quedamos con los años seleccionados
data_sentiment = data_sentiment[data_sentiment['year_x'].isin(anios)]

In [53]:
# Vemos como queda la info del DF
data_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41370 entries, 25 to 41721
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               41370 non-null  object
 1   year_x              41370 non-null  object
 2   user_id             41370 non-null  object
 3   recommend           41370 non-null  bool
 4   sentiment_analysis  41370 non-null  int64
dtypes: bool(1), int64(1), object(3)
memory usage: 1.6+ MB

In [54]:
data_sentiment.head()

,title,year_x,user_id,recommend,sentiment_analysis
25,The Ship: Murder Party,2006,wiinga,True,0
26,The Ship: Murder Party,2006,mrmutantduck,True,2
27,The Ship: Murder Party,2006,TuDragon76a,True,0
28,The Ship: Murder Party,2006,76561198001346295,True,2
29,The Ship: Murder Party,2006,76561198026315215,True,2

In [55]:
# Pasamos el tipo de dato year a int para que nos sirva en la funcion
data_sentiment['year_x'] = data_sentiment['year_x'].astype(int)

In [56]:
data_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41370 entries, 25 to 41721
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               41370 non-null  object
 1   year_x              41370 non-null  int64
 2   user_id             41370 non-null  object
 3   recommend           41370 non-null  bool
 4   sentiment_analysis  41370 non-null  int64
dtypes: bool(1), int64(2), object(2)
memory usage: 1.6+ MB

In [57]:
# Crear variables dummies para "sentiment_analysis"
sentiment_dummies = pd.get_dummies(data_sentiment['sentiment_analysis'], prefix='sentiment', dtype=int)

# Concatenar reviews_df con sentiment_dummies
data_sentiment = pd.concat([data_sentiment, sentiment_dummies], axis=1)

In [58]:
data_sentiment.head()

,title,year_x,user_id,recommend,sentiment_analysis,sentiment_0,sentiment_1,sentiment_2
25,The Ship: Murder Party,2006,wiinga,True,0,1,0,0
26,The Ship: Murder Party,2006,mrmutantduck,True,2,0,0,1
27,The Ship: Murder Party,2006,TuDragon76a,True,0,1,0,0
28,The Ship: Murder Party,2006,76561198001346295,True,2,0,0,1
29,The Ship: Murder Party,2006,76561198026315215,True,2,0,0,1

In [59]:
# Resetear el indice para que "item_id" pase a columna nuevamente.
data_sentiment.reset_index(inplace=True)

In [60]:
data_sentiment.head()

,index,title,year_x,user_id,recommend,sentiment_analysis,sentiment_0,sentiment_1,sentiment_2
0,25,The Ship: Murder Party,2006,wiinga,True,0,1,0,0
1,26,The Ship: Murder Party,2006,mrmutantduck,True,2,0,0,1
2,27,The Ship: Murder Party,2006,TuDragon76a,True,0,1,0,0
3,28,The Ship: Murder Party,2006,76561198001346295,True,2,0,0,1
4,29,The Ship: Murder Party,2006,76561198026315215,True,2,0,0,1

In [61]:
data_sentiment = data_sentiment.drop(columns=['title', 'user_id', 'recommend', 'sentiment_analysis'])

In [62]:
data_sentiment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41370 entries, 0 to 41369
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        41370 non-null  int64
 1   year_x       41370 non-null  int64
 2   sentiment_0  41370 non-null  int64
 3   sentiment_1  41370 non-null  int64
 4   sentiment_2  41370 non-null  int64
dtypes: int64(5)
memory usage: 1.6 MB

In [63]:
# Agrupar por 'release_year' y sumar las columnas de análisis de sentimientos
data_sentiment_grouped = data_sentiment.groupby('year_x')[['sentiment_0', 'sentiment_1', 'sentiment_2']].sum().reset_index()

In [64]:
# Renombrar las columnas para mayor claridad
data_sentiment_grouped = data_sentiment_grouped.rename(columns={
    'sentiment_0': 'total_negativos',
    'sentiment_1': 'total_neutrales',
    'sentiment_2': 'total_positivos'
})

In [65]:
data_sentiment_grouped.head()

   year_x  total_negativos  total_neutrales  total_positivos
0    2003               42               21              101
1    2004               24               38              133
2    2005               14               16               71
3    2006              197              325             1000
4    2007              255              634             1786

In [66]:
def sentiment_analysis(year):
    filtro_data = data_sentiment_grouped[data_sentiment_grouped['year_x'] == year]
    
    if filtro_data.empty:
        return {"Negative": 0, "Neutral": 0, "Positive": 0}
    else:
        # Encontrar los valores de sentimiento para el año pasado como parámetro.
        negativo = data_sentiment_grouped.loc[data_sentiment_grouped.year_x == year, "total_negativos"].item()
        neutral = data_sentiment_grouped.loc[data_sentiment_grouped.year_x == year, "total_neutrales"].item()
        positivo = data_sentiment_grouped.loc[data_sentiment_grouped.year_x == year, "total_positivos"].item()
  
    return {"Negative" : negativo, "Neutral" : neutral, "Positive" : positivo}

In [68]:
sentiment_analysis(2007)

{'Negative': 255, 'Neutral': 634, 'Positive': 1786}

In [69]:
# Creamos la ruta para exportar el df a un archivo parquet
ruta_parquet = 'sentiment.parquet'

In [70]:
data_sentiment_grouped.to_parquet(ruta_parquet, engine='fastparquet')